# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# Data files
data/*.json
*.log

# Node / Frontend
frontend/node_modules/
frontend/dist/
node_modules/

# OS
Thumbs.db
.DS_Store
